body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-sm-6: 13.6px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkslategray: #353535;
  --color-gainsboro: #e8e8e8;
}
